{% extends 'user_layout.html' %}
{% load static %}

{% block title %}Домашняя страница{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/user.min.css' %}">{% endblock %}

{% block main %}
    <section class="userCover">
        <div class="userCover__img">
            <picture>
                <source srcset="{% static 'img/cover.webp' %}" type="image/webp">
                <img src="{% static 'img/cover.jpg' %}" alt="cover_photo"></picture>
        </div>
        <div class="userCover__bottom">
            <div class="userCover__info">
                <div class="userCover__photo-wrapper">
                    <div class="userCover__photo">
                        <picture>
                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                    </div>
                </div>
                <p class="userCover__name">{{ name }}</p>
            </div>
            <div class="userCover__edit_wrapper">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <a href="#" class="userCover__edit">Изменить изображение</a>
            </div>
        </div>
    </section>
    <section class="section__wrapper">
        <section class="profile">
            <div class="profile__user back">
                <div class="profile__photo">
                    <picture>
                        <source srcset="{% static 'img/cover.webp' %}" type="image/webp">
                        <img src="{% static 'img/cover.jpg' %}" alt="profile-photo"></picture>
                </div>
                <div class="profile__info">
                    <div class="profile__userLogo-wrapper">
                        <div class="profile__userLogo">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user__logo"></picture>
                        </div>
                    </div>
                    <p class="profile__name">{{ name }}</p>
                </div>
                <div class="profile__menu">
                    <p class="profile__title">Мой профиль</p>
                    <ul class="profile__list">
                        <li class="profile__item">
                            <a href="" class="profile__link">
                                <i class="fa fa-home icon" aria-hidden="true"></i>
                                <span>Домой</span>
                            </a>
                        </li>
                        <li class="profile__item">
                            <a href="" class="profile__link">
                                <i class="fa fa-users icon" aria-hidden="true"></i>
                                <span>Друзья</span>
                            </a>
                        </li>
                        <li class="profile__item">
                            <a href="" class="profile__link">
                                <i class="fa fa-camera icon" aria-hidden="true"></i>
                                <span>Фото</span>
                            </a>
                        </li>
                        <li class="profile__item">
                            <a href="" class="profile__link">
                                <i class="fa fa-user-circle-o icon" aria-hidden="true"></i>
                                <span>Группы</span>
                            </a>
                        </li>
                        <li class="user__item">
                            <a href="" class="profile__link">
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                <span>Новости</span>
                            </a>
                        </li>
                        <li class="profile__item">
                            <a href="" class="profile__link">
                                <i class="fa fa-cogs icon" aria-hidden="true"></i>
                                <span>Настройки</span>
                            </a>
                        </li>
                        <li class="profile__item">
                            <a href="" class="profile__link">
                                <i class="fa fa-sign-out icon" aria-hidden="true"></i>
                                <span>Выйти</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="profile__friends back">
                <p class="profile__title">Друзья</p>
                <hr>
                <ul class="profile__list-friends">
                    <li class="profile__item-friends">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <div class="profile__list-img">
                                <picture>
                                    <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                    <img src="{% static 'img/user_logo.jpg' %}" alt="friend_logo"></picture>
                            </div>
                            <p class="profile__item-name">Вася</p>
                        </a>
                    </li>
                    <li class="profile__item-friends">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <div class="profile__list-img">
                                <picture>
                                    <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                    <img src="{% static 'img/user_logo.jpg' %}" alt="cover_photo"></picture>
                            </div>
                            <p class="profile__item-name">Антон</p>
                        </a>
                    </li>
                    <li class="profile__item-friends">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <div class="profile__list-img">
                                <picture>
                                    <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                    <img src="{% static 'img/user_logo.jpg' %}" alt="cover_photo"></picture>
                            </div>
                            <p class="profile__item-name">Андрей</p>
                        </a>
                    </li>
                    <li class="profile__item-friends">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <div class="profile__list-img">
                                <picture>
                                    <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                    <img src="{% static 'img/user_logo.jpg' %}" alt="cover_photo"></picture>
                            </div>
                            <p class="profile__item-name">Тимур</p>
                        </a>
                    </li>
                    <li class="profile__item-friends">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <div class="profile__list-img">
                                <picture>
                                    <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                    <img src="{% static 'img/user_logo.jpg' %}" alt="cover_photo"></picture>
                            </div>
                            <p class="profile__item-name">Алексей</p>
                        </a>
                    </li>
                    <li class="profile__item-friends">
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <div class="profile__list-img">
                                <picture>
                                    <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                    <img src="{% static 'img/user_logo.jpg' %}" alt="cover_photo"></picture>
                            </div>
                            <p class="profile__item-name">Анастасия</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="profile__photos back">
                <p class="profile__title">Мои фото</p>
                <hr>
                <div class="profile__photos-imgs">
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <div class="profile__photo-img">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                        </div>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <div class="profile__photo-img">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                        </div>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <div class="profile__photo-img">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                        </div>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <div class="profile__photo-img">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                        </div>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <div class="profile__photo-img">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                        </div>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <div class="profile__photo-img">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                        </div>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <div class="profile__photo-img">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                        </div>
                    </a>
                    <a href="http://" target="_blank" rel="noopener noreferrer">
                        <div class="profile__photo-img">
                            <picture>
                                <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="content">
            <form class="content__form">
                {% csrf_token %}
                <textarea name="comment" id="comment" placeholder="Напишите о чем думаете..."></textarea>
                <button class="content__btn">Напечатать</button>
            </form>
            <div class="content__recordings">
                <ul class="content__list">
{#                    <li class="content__item back">#}
{#                        <div class="content__top">#}
{#                            <div class="content__info">#}
{#                                <div class="img">#}
{#                                    <a href="#" class="logo__link">#}
{#                                        <picture>#}
{#                                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">#}
{#                                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="content__top-descr">#}
{#                                    <p class="user_name">#}
{#                                        <a href="#">{{ name }}</a>#}
{#                                    </p>#}
{#                                    <div class="content__info-time">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"#}
{#                                           title="Опубликовано 2 августа 2021 в 12:00"></i>#}
{#                                        <div class="time_create">2 дня назад</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="ellipsis">#}
{#                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>#}
{#                                <ul class="ellipsis__list">#}
{#                                    <li class="ellipsis__item edit-post">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"></i>#}
{#                                        Редактировать#}
{#                                    </li>#}
{#                                    <li class="ellipsis__item">#}
{#                                        <i class="fa fa-trash-o" aria-hidden="true"></i>#}
{#                                        Удалить#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="content__text-edit">#}
{#                            <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.#}
{#                                Reiciendis nulla animi, enim est cupiditate consequuntur, id maxime itaque quibusdam#}
{#                                possimus, cum quo. Illo excepturi atque accusantium corporis necessitatibus iure#}
{#                                nisi.</p>#}
{#                            <div class="content__panel">#}
{#                                <div class="cancel__wrapper">#}
{#                                    <div class="content__cancel" title="Отмена">#}
{#                                        <i class="fa fa-times" aria-hidden="true"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button class="content__edit-btn">Опубликовать</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="content__item back">#}
{#                        <div class="content__top">#}
{#                            <div class="content__info">#}
{#                                <div class="img">#}
{#                                    <a href="#" class="logo__link">#}
{#                                        <picture>#}
{#                                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">#}
{#                                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="content__top-descr">#}
{#                                    <p class="user_name">#}
{#                                        <a href="#">Эльдар Магомедов</a>#}
{#                                    </p>#}
{#                                    <div class="content__info-time">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"#}
{#                                           title="Опубликовано 2 августа 2021 в 12:00"></i>#}
{#                                        <div class="time_create">2 дня назад</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="ellipsis">#}
{#                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>#}
{#                                <ul class="ellipsis__list">#}
{#                                    <li class="ellipsis__item edit-post">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"></i>#}
{#                                        Редактировать#}
{#                                    </li>#}
{#                                    <li class="ellipsis__item">#}
{#                                        <i class="fa fa-trash-o" aria-hidden="true"></i>#}
{#                                        Удалить#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="content__text-edit">#}
{#                            <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.#}
{#                                Reiciendis nulla animi, enim est cupiditate consequuntur, id maxime itaque quibusdam#}
{#                                possimus, cum quo. Illo excepturi atque accusantium corporis necessitatibus iure#}
{#                                nisi.</p>#}
{#                            <div class="content__panel">#}
{#                                <div class="cancel__wrapper">#}
{#                                    <div class="content__cancel" title="Отмена">#}
{#                                        <i class="fa fa-times" aria-hidden="true"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button class="content__edit-btn">Опубликовать</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="content__item back">#}
{#                        <div class="content__top">#}
{#                            <div class="content__info">#}
{#                                <div class="img">#}
{#                                    <a href="#" class="logo__link">#}
{#                                        <picture>#}
{#                                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">#}
{#                                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="content__top-descr">#}
{#                                    <p class="user_name">#}
{#                                        <a href="#">Эльдар Магомедов</a>#}
{#                                    </p>#}
{#                                    <div class="content__info-time">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"#}
{#                                           title="Опубликовано 2 августа 2021 в 12:00"></i>#}
{#                                        <div class="time_create">2 дня назад</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="ellipsis">#}
{#                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>#}
{#                                <ul class="ellipsis__list">#}
{#                                    <li class="ellipsis__item edit-post">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"></i>#}
{#                                        Редактировать#}
{#                                    </li>#}
{#                                    <li class="ellipsis__item">#}
{#                                        <i class="fa fa-trash-o" aria-hidden="true"></i>#}
{#                                        Удалить#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="content__text-edit">#}
{#                            <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.#}
{#                                Reiciendis nulla animi, enim est cupiditate consequuntur, id maxime itaque quibusdam#}
{#                                possimus, cum quo. Illo excepturi atque accusantium corporis necessitatibus iure#}
{#                                nisi.</p>#}
{#                            <div class="content__panel">#}
{#                                <div class="cancel__wrapper">#}
{#                                    <div class="content__cancel" title="Отмена">#}
{#                                        <i class="fa fa-times" aria-hidden="true"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button class="content__edit-btn">Опубликовать</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="content__item back">#}
{#                        <div class="content__top">#}
{#                            <div class="content__info">#}
{#                                <div class="img">#}
{#                                    <a href="#" class="logo__link">#}
{#                                        <picture>#}
{#                                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">#}
{#                                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="content__top-descr">#}
{#                                    <p class="user_name">#}
{#                                        <a href="#">Эльдар Магомедов</a>#}
{#                                    </p>#}
{#                                    <div class="content__info-time">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"#}
{#                                           title="Опубликовано 2 августа 2021 в 12:00"></i>#}
{#                                        <div class="time_create">2 дня назад</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="ellipsis">#}
{#                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>#}
{#                                <ul class="ellipsis__list">#}
{#                                    <li class="ellipsis__item edit-post">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"></i>#}
{#                                        Редактировать#}
{#                                    </li>#}
{#                                    <li class="ellipsis__item">#}
{#                                        <i class="fa fa-trash-o" aria-hidden="true"></i>#}
{#                                        Удалить#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="content__text-edit">#}
{#                            <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.#}
{#                                Reiciendis nulla animi, enim est cupiditate consequuntur, id maxime itaque quibusdam#}
{#                                possimus, cum quo. Illo excepturi atque accusantium corporis necessitatibus iure#}
{#                                nisi.</p>#}
{#                            <div class="content__panel">#}
{#                                <div class="cancel__wrapper">#}
{#                                    <div class="content__cancel" title="Отмена">#}
{#                                        <i class="fa fa-times" aria-hidden="true"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button class="content__edit-btn">Опубликовать</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="content__item back">#}
{#                        <div class="content__top">#}
{#                            <div class="content__info">#}
{#                                <div class="img">#}
{#                                    <a href="#" class="logo__link">#}
{#                                        <picture>#}
{#                                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">#}
{#                                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="content__top-descr">#}
{#                                    <p class="user_name">#}
{#                                        <a href="#">Эльдар Магомедов</a>#}
{#                                    </p>#}
{#                                    <div class="content__info-time">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"#}
{#                                           title="Опубликовано 2 августа 2021 в 12:00"></i>#}
{#                                        <div class="time_create">2 дня назад</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="ellipsis">#}
{#                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>#}
{#                                <ul class="ellipsis__list">#}
{#                                    <li class="ellipsis__item edit-post">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"></i>#}
{#                                        Редактировать#}
{#                                    </li>#}
{#                                    <li class="ellipsis__item">#}
{#                                        <i class="fa fa-trash-o" aria-hidden="true"></i>#}
{#                                        Удалить#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="content__text-edit">#}
{#                            <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.#}
{#                                Reiciendis nulla animi, enim est cupiditate consequuntur, id maxime itaque quibusdam#}
{#                                possimus, cum quo. Illo excepturi atque accusantium corporis necessitatibus iure#}
{#                                nisi.</p>#}
{#                            <div class="content__panel">#}
{#                                <div class="cancel__wrapper">#}
{#                                    <div class="content__cancel" title="Отмена">#}
{#                                        <i class="fa fa-times" aria-hidden="true"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button class="content__edit-btn">Опубликовать</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="content__item back">#}
{#                        <div class="content__top">#}
{#                            <div class="content__info">#}
{#                                <div class="img">#}
{#                                    <a href="#" class="logo__link">#}
{#                                        <picture>#}
{#                                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">#}
{#                                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="content__top-descr">#}
{#                                    <p class="user_name">#}
{#                                        <a href="#">Эльдар Магомедов</a>#}
{#                                    </p>#}
{#                                    <div class="content__info-time">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"#}
{#                                           title="Опубликовано 2 августа 2021 в 12:00"></i>#}
{#                                        <div class="time_create">2 дня назад</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="ellipsis">#}
{#                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>#}
{#                                <ul class="ellipsis__list">#}
{#                                    <li class="ellipsis__item edit-post">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"></i>#}
{#                                        Редактировать#}
{#                                    </li>#}
{#                                    <li class="ellipsis__item">#}
{#                                        <i class="fa fa-trash-o" aria-hidden="true"></i>#}
{#                                        Удалить#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="content__text-edit">#}
{#                            <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.#}
{#                                Reiciendis nulla animi, enim est cupiditate consequuntur, id maxime itaque quibusdam#}
{#                                possimus, cum quo. Illo excepturi atque accusantium corporis necessitatibus iure#}
{#                                nisi.</p>#}
{#                            <div class="content__panel">#}
{#                                <div class="cancel__wrapper">#}
{#                                    <div class="content__cancel" title="Отмена">#}
{#                                        <i class="fa fa-times" aria-hidden="true"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button class="content__edit-btn">Опубликовать</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
                    {% for item in user_post_dict %}
                        <li class="content__item back">
                        <div class="content__top">
                            <div class="content__info">
                                <div class="img">
                                    <a href="#" class="logo__link">
                                        <picture>
                                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">
                                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>
                                    </a>
                                </div>
                                <div class="content__top-descr">
                                    <p class="user_name">
                                        <a href="#">{{ name }}</a>
                                    </p>
                                    <div class="content__info-time">
                                        <i class="fa fa-pencil" aria-hidden="true"
                                           title="Опубликовано 2 августа 2021 в 12:00"></i>
                                        <div class="time_create">2 дня назад</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ellipsis">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                <ul class="ellipsis__list">
                                    <li class="ellipsis__item edit-post">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        Редактировать
                                    </li>
                                    <li class="ellipsis__item">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        Удалить
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="content__text-edit">
                            <p class="content__text">{{ item.post }}</p>
                            <div class="content__panel">
                                <div class="cancel__wrapper">
                                    <div class="content__cancel" title="Отмена">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <button class="content__edit-btn">Опубликовать</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
{#                    <li class="content__item back">#}
{#                        <div class="content__top">#}
{#                            <div class="content__info">#}
{#                                <div class="img">#}
{#                                    <a href="#" class="logo__link">#}
{#                                        <picture>#}
{#                                            <source srcset="{% static 'img/user_logo.webp' %}" type="image/webp">#}
{#                                            <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo"></picture>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="content__top-descr">#}
{#                                    <p class="user_name">#}
{#                                        <a href="#">Эльдар Магомедов</a>#}
{#                                    </p>#}
{#                                    <div class="content__info-time">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"#}
{#                                           title="Опубликовано 2 августа 2021 в 12:00"></i>#}
{#                                        <div class="time_create">2 дня назад</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="ellipsis">#}
{#                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>#}
{#                                <ul class="ellipsis__list">#}
{#                                    <li class="ellipsis__item edit-post">#}
{#                                        <i class="fa fa-pencil" aria-hidden="true"></i>#}
{#                                        Редактировать#}
{#                                    </li>#}
{#                                    <li class="ellipsis__item">#}
{#                                        <i class="fa fa-trash-o" aria-hidden="true"></i>#}
{#                                        Удалить#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="content__text-edit">#}
{#                            <p class="content__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.#}
{#                                Reiciendis nulla animi, enim est cupiditate consequuntur, id maxime itaque quibusdam#}
{#                                possimus, cum quo. Illo excepturi atque accusantium corporis necessitatibus iure#}
{#                                nisi.</p>#}
{#                            <div class="content__panel">#}
{#                                <div class="cancel__wrapper">#}
{#                                    <div class="content__cancel" title="Отмена">#}
{#                                        <i class="fa fa-times" aria-hidden="true"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <button class="content__edit-btn">Опубликовать</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
                </ul>
            </div>
        </section>
        <section class="community back">
            <div class="community__news">
                <ul class="community__list">
                    <li class="community__item">
                        <h2 class="community__title">Заголовок</h2>
                        <p class="community__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
                            nesciunt voluptates minima id at. Quis distinctio quo consequatur eos maiores delectus
                            expedita, sint amet dolorem dicta iste fugit molestias aperiam.</p>
                        <a href="#" class="community__link" target="_blank">Источник</a>
                    </li>
                    <li class="community__item">
                        <h2 class="community__title">Заголовок</h2>
                        <p class="community__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
                            nesciunt voluptates minima id at. Quis distinctio quo consequatur eos maiores delectus
                            expedita, sint amet dolorem dicta iste fugit molestias aperiam.</p>
                        <a href="#" class="community__link" target="_blank">Источник</a>
                    </li>
                    <li class="community__item">
                        <h2 class="community__title">Заголовок</h2>
                        <p class="community__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
                            nesciunt voluptates minima id at. Quis distinctio quo consequatur eos maiores delectus
                            expedita, sint amet dolorem dicta iste fugit molestias aperiam.</p>
                        <a href="#" class="community__link" target="_blank">Источник</a>
                    </li>
                    <li class="community__item">
                        <h2 class="community__title">Заголовок</h2>
                        <p class="community__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
                            nesciunt voluptates minima id at. Quis distinctio quo consequatur eos maiores delectus
                            expedita, sint amet dolorem dicta iste fugit molestias aperiam.</p>
                        <a href="#" class="community__link" target="_blank">Источник</a>
                    </li>
                    <li class="community__item">
                        <h2 class="community__title">Заголовок</h2>
                        <p class="community__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis
                            nesciunt voluptates minima id at. Quis distinctio quo consequatur eos maiores delectus
                            expedita, sint amet dolorem dicta iste fugit molestias aperiam.</p>
                        <a href="#" class="community__link" target="_blank">Источник</a>
                    </li>
                </ul>
            </div>
        </section>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/user.min.js' %}"></script>
{% endblock %}
