.main {
  background-color: #f1f2f4;
}

.userCover {
  height: 410px;
}

.userCover__img {
  height: 410px;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.userCover__bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  padding: 21px 41px;
  -webkit-transform: translateY(180px);
      -ms-transform: translateY(180px);
          transform: translateY(180px);
  width: 100%;
}

.userCover__photo {
  width: 160px;
  margin-top: 4px;
}

.userCover__photo img {
  border-radius: 100px;
}

.userCover__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.userCover__photo-wrapper {
  border-radius: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 174px;
  height: 174px;
}

.userCover__name {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

.userCover__edit_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  padding: 10px 20px;
}

.userCover__edit_wrapper:hover {
  cursor: pointer;
  color: #fff;
  background-color: #54595e;
}

.userCover__edit {
  margin-left: 5px;
}

.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.section__wrapper .profile {
  width: 355px;
  position: relative;
}

.section__wrapper .profile__photo {
  overflow: hidden;
  height: 120px;
  width: 355px;
}

.section__wrapper .profile__photo img {
  border-radius: 10px 10px 0 0;
}

.section__wrapper .profile__userLogo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  top: 95px;
  left: 20px;
  width: 70px;
}

.section__wrapper .profile__userLogo {
  margin: 7px 0 0 0;
  width: 56px;
}

.section__wrapper .profile__userLogo img {
  border-radius: 50px;
}

.section__wrapper .profile__name {
  margin: 20px 0 0 100px;
  font-size: 16px;
  font-weight: bold;
}

.section__wrapper .profile__title {
  color: #75828f;
  font-weight: bold;
  text-transform: uppercase;
}

.section__wrapper .profile__title {
  padding: 15px 0 15px 15px;
}

.section__wrapper .profile__menu {
  margin-top: 15px;
}

.section__wrapper .profile__link {
  display: block;
  padding: 15px 0 15px 15px;
  font-size: 14px;
  width: 100%;
}

.section__wrapper .profile__link i {
  margin-right: 10px;
  width: 16px;
}

.section__wrapper .profile__link span {
  font-size: 14px;
}

.section__wrapper .profile__item {
  color: #2186c4;
}

.section__wrapper .profile__item:hover {
  color: #fff;
  background-color: #2186c4;
}

.section__wrapper .profile__friends {
  border-radius: 10px 10px 0 0;
}

.section__wrapper .profile__list-friends {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__wrapper .profile__item-friends {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.section__wrapper .profile__item-friends:nth-child(n+4) {
  margin-top: 15px;
}

.section__wrapper .profile__item-friends a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__wrapper .profile__list-img {
  width: 56px;
}

.section__wrapper .profile__list-img img {
  border-radius: 50px;
}

.section__wrapper .profile__item-name {
  text-align: center;
}

.section__wrapper .profile__photos-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.section__wrapper .profile__photos-imgs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.section__wrapper .profile__photos-imgs a:nth-child(n+5) {
  margin-top: 15px;
}

.section__wrapper .profile__photo-img {
  width: 60px;
}

.section__wrapper .profile__photo-img img {
  border-radius: 10px;
}

.section__wrapper .content {
  width: 725px;
}

.section__wrapper .content #comment {
  border: none;
  border-radius: 10px;
  padding: 10px 0 0 20px;
  resize: none;
  width: 100%;
  height: 140px;
}

.section__wrapper .content__btn {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  padding: 15px 20px;
  margin-top: 10px;
}

.section__wrapper .content__btn:hover {
  color: #fff;
  background-color: #2186c4;
}

.section__wrapper .content__list {
  margin-top: 20px;
}

.section__wrapper .content__item {
  margin: 10px 0;
  padding: 20px;
}

.section__wrapper .content__text-edit {
  position: relative;
}

.section__wrapper .content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__wrapper .content__top .img {
  width: 64px;
}

.section__wrapper .content__top .img img {
  border-radius: 50px;
}

.section__wrapper .content__top .user_name {
  font-weight: bold;
}

.section__wrapper .content__top-descr {
  margin-left: 10px;
}

.section__wrapper .content__top-descr i {
  font-size: 10px;
}

.section__wrapper .content__top-descr .time_create {
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 5px;
}

.section__wrapper .content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__wrapper .content__info-time {
  margin-top: 5px;
}

.section__wrapper .content__text {
  padding: 10px;
}

.section__wrapper .content__panel {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 10px;
}

.section__wrapper .content__edit-btn {
  background: none;
  background-color: #f75411;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-left: 15px;
}

.section__wrapper .content__edit-btn:hover {
  background-color: #41484f;
}

.section__wrapper .content .ellipsis {
  color: #2186c4;
  cursor: pointer;
  position: relative;
}

.section__wrapper .content .ellipsis .fa-ellipsis-v {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 10px;
}

.section__wrapper .content .ellipsis .fa-ellipsis-v:hover {
  color: #000;
}

.section__wrapper .content .ellipsis__list {
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 33px;
  right: 14px;
  width: 130px;
  z-index: 2;
}

.section__wrapper .content .ellipsis__item {
  font-size: 12px;
  padding: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.section__wrapper .content .ellipsis__item i {
  font-size: 12px;
  margin-right: 5px;
}

.section__wrapper .content .ellipsis__item:hover {
  background-color: #2186c4;
  color: #fff;
}

.section__wrapper .content .cancel__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e3e6e9;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.section__wrapper .content__cancel {
  background-color: black;
  border-radius: 100%;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
}

.section__wrapper .content__cancel .fa-times {
  font-size: 8px;
  color: #fff;
}

.section__wrapper .community {
  padding: 20px;
  margin: 0;
  width: 355px;
}

.section__wrapper .community__item:not(:first-child) {
  margin: 10px 0;
}

.section__wrapper .community__title {
  font-size: 18px;
}

.section__wrapper .community__text {
  margin-top: 10px;
}

.section__wrapper .community__link {
  display: block;
  margin-top: 10px;
  color: #2186c4;
}

.back {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 30px;
}

.back:first-child {
  margin-top: 0;
}

.edit__active {
  opacity: 1;
}

.active_disp {
  display: block !important;
}

.edit__content {
  border-color: #aaafb4;
  border-radius: 5px;
  resize: none;
  margin-top: 10px;
  outline: none;
  padding: 5px;
  width: 100%;
  height: 200px;
}