{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/user.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script src="https://kit.fontawesome.com/14c61031b6.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="logo">
                <img src="" alt="logo">
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    {% for key, value in context.links.items %}
                        <li class="nav__item">
                            <a href={{ value }}>{{ key }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <form action="/" class="search">
                <label>
                    <input class="search__input" type="text" placeholder="Поиск">
                </label>
                <button class="search__btn_user">
                    <img src="{% static 'img/search2.svg' %}" alt="search">
                </button>
            </form>
            <div class="user">
                <div class="user__photo">
                    <img src="{% static 'img/user_logo.jpg' %}" alt="user_photo">
                </div>
                <p class="user__name">{{ name }}</p>
                <div class="user__menu_arrow">
                    <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>
                </div>
                <ul class="user__list">
                        <li class="user__item">
                            <a href="http://localhost:8000/users/{{ user_id }}">
                                <i class="fa fa-home icon" aria-hidden="true"></i>
                                Домой
                            </a>
                        </li>
                        <li class="user__item">
                            <a href="/">
                                <i class="fa fa-users icon" aria-hidden="true"></i>
                                Друзья
                            </a>
                        </li>
                        <li class="user__item">
                            <a href="/">
                                <i class="fa fa-camera icon" aria-hidden="true"></i>
                                Фото
                            </a>
                        </li>
                        <li class="user__item">
                            <a href="/">
                                <i class="fa fa-user-circle-o icon" aria-hidden="true"></i>
                                Группы
                            </a>
                        </li>
                        <li class="user__item">
                            <a href="/">
                                <i class="fa fa-cogs icon" aria-hidden="true"></i>
                                Настройки
                            </a>
                        </li>
                        <li class="user__item">
                            <a href="/">
                                <i class="fa fa-sign-out icon" aria-hidden="true"></i>
                                Выйти
                            </a>
                        </li>
                </ul>
            </div>
        </div>
    </header>
    <main class="main">
        {% block main %}{% endblock %}
    </main>
    <script src="{% static 'js/user.js' %}"></script>
</body>
</html>