* {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.logo {
    width: 150px;
}

img {
    width: 100%;
}

.header {
    background-color: #363c42;
    height: 100px;
    position: relative;
    z-index: 25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__container {
    width: 1080px;
    margin: 0 auto;
}

.wrapper  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
}

.search__input {
    border: 2px solid #41484f;
    background-color: #2c3136;
    color: #b9babd;
    padding: 9px 0 9px 10px;
    border-radius: 21px;
    outline: none;
    width: 350px;
    height: 20px;
}

.search__input:focus {
    border-color: #2186c4;
}

.search__btn {
    border: none;
    background-color: #f75411;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
    padding: 10px 28px;
    outline: none;
    transition: all 0.2s linear;
}

.search__btn:hover {
    background-color: #41484f;
}

.main {
    padding: 20px 0;
    position: relative;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enter {
    width: 725px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enter__form {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.user__data {
    height: 43px;
    border-radius: 30px;
    border: 2px solid #e3e6e9;
    padding-left: 20px;
    font-size: 14px;
    outline: none;
    flex: 0 1 40%;
}

.user__data:focus {
    border-color: #2186c4;
}

#password {
    margin-left: 10px;
}

.enter__btn {
    flex: 0 1 10%;
    margin-left: 15px;
    border: none;
    background-color: #f75411;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    padding: 10px 28px;
    outline: none;
    transition: all 0.2s linear;
}

.enter__btn:hover {
    background-color: #41484f;
}

.enter__img {
    width: 725px;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    width: 100%;
}

.enter__link {
    color: #2186c4;
    text-decoration: none;
    font-size: 13px;
    margin: 0 5px;
}

.error__text {
    position: absolute;
    transform: translateY(-100px);
    transition: all 0.3s ease-in-out;
    right: 50px;
    top: 0;
}

.error__wrapper {
    overflow: hidden;
}

.error__inputs {
    border-radius: 50px;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.error__inputs:before {
    content: ' ';;
    background-color: #fa862a;
    border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 0;
    display: block;
    width: 100%;
    height: 50px;
    opacity: .6;
    z-index: -1;
}

.error {
    border-color: red !important;
}

.error__active {
    transform: translateY(0) !important;
    transition: all 0.3s ease-in-out !important;
}